{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Adventure Project - by Cameron Merwin</title>
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheet.css' %}"}>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'characters.js' %}"></script>
    <script src="{% static 'script.js' %}"></script>
</head>
<body>
    <div class="title_panel">
        <h1>Adventure Project</h1><h2>by Cameron Merwin</h2>
    </div>
    <div class="character_panel">
        <table class="characters_left">
            <tr class="pc_character_row">
                
                <td class="character">
                    <img src="/static/images/character-1.png"/><br/>
                    Cleric
                </td>
                
                <td class="character">
                    <img src="/static/images/character-2.png"/><br/>
                    Rouge
                    <div class="character-tooltip">
                        Class: Rogue<br/>
                        Level: 2<br/>
                        Strength: 5<br/>
                        Dexterity: 10<br/>
                        Constitution: 2<br/>
                        Intelligence: 9<br/>
                        Wisdom: 7<br/>
                        Charisma: 3<br/>
                        <b>Hit Points: 50</b>
                    </div>
                </td>
                
                <td class="character">
                    <img src="/static/images/character-3.png"/><br/>
                    Wizard
                </td>
                
                <td class="character">
                    <img src="/static/images/character-4.png"/><br/>
                    Fighter
                </td>
            
            </tr>
        </table>
        <table class="characters_right">
            <tr>
                <td class="character">
                    <img src="/static/images/npc-101.png"/><br/>
                    Goblin
                </td>
            </tr>
        </table>
        <div class="loading_spinner">
            <img src="/static/images/spinner_1.gif"/><br/>
            Entering Combat...
        </div>
    </div>
    <div class="dialogue_panel">
        <div class="script_display">
            <!-- <p><b>Current Turn: {{name}}</b></p>-->
            <p class="script" id="prompt">You are in an open field... You see a creature...  He asks "What are you doing here?"</p>
            <table class="response_table">
                <tr>
                    <td><a href="#"  class="response_btn">A:</a><span class="response">Ignore him and continue walking.</span></td>
                    <td><a href="#" class="response_btn">B:</a><span class="response">Ask: "Do you have the golden key?"</span></td>
                </tr>
                <tr>
                    <td><button onclick="javascript:initiate_combat_mode();">C:</button>
                        <span class="response">Attack the creature.</span></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <div class="combat_display">
            <div class="combat_status_bar">
                Here is the status...
            </div>
            <table class="combat_buttons">
                <tr>
                    <td><button onclick="javascript:void(0);">Attack</button></td>
                    <td><button onclick="javascript:void(0);">Spell</button></td>
                    <td><button onclick="javascript:void(0);">Run</button></td>
                </tr>
                <tr>
                    <td><button onclick="javascript:void(0);">Defend</button></td>
                    <td><button onclick="javascript:void(0);">Item</button></td>
                    <td></td>
                </tr>
            </table>
            <div class="combat_turns">
                <b>Next Turns:</b><br/><br/>
                1) Cameron<br/>
                2) Charlie<br/>
                3) The Orc<br/>
                4) Smaug<br/>
            </div>            
        </div>
    </div>
</body>
</html>
