{% load static %}
<!DOCTYPE html>
<html class="login">
<head>
    <title>Adventure Project New Game  - by Cameron Merwin</title>
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheet.css' %}"}>
</head>

<body class="login">
    <div class="title_panel">
        <h1>Adventure Project</h1><h2>by Cameron Merwin</h2>
    </div>
    <div class="login">
        <span class="login_title">Player Registration</span><br/><br/>
        <span class="login_error">{{error_message}}</span>
        <form action="/register/" method="POST">
            {% csrf_token %}
            <table>
                <tr>
                    <td>Player Name:</td>
                    <td><input type="text" id="user_name" name="user_name" minlength="3" required></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="text" id="password" name="password" minlength="3" required></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Create New Game" class="login_btn"></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>
